body {
  overflow: visible;
  width: 230px;
  background: white;
  color: black;
  font-family: sans-serif;
}
body,
div,
h1,
h2,
label,
li,
p,
ul {
  margin: 0 auto;
  padding: 0;
}
div {
  text-align: center;
}
label {
  color: #a4a4a4;
}
label.main {
  color: #a4a4a4;
  width: 208px;
  text-align: left;
  display: block;
  height: 24px;
  line-height: 24px;
}
#popup_head h2 {
  text-align: center;
  margin-top: 8px;
}
#popup_head h2 img {
  width: 64px;
  height: 64px;
  background: #b846d3;
  border: 8px solid #b846d3;
  border-radius: 100%;
}
#popup_head h1 {
  font-size: 20px;
  line-height: 24px;
  color: #b846d3;
}
#popup_head #popup_option_icon {
  position: absolute;
  right: 10px;
  top: 10px;
}
#popup_head #popup_option_icon img {
  width: 24px;
  height: 24px;
}
#disableltdbox {
  width: 208px;
  display: block;
  height: 24px;
  line-height: 24px;
}
h1.open {
  text-align: left;
  padding-left: 6px;
}
h1 span {
  width: 16px;
  height: 16px;
  margin: 0;
  padding: 0 8px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALpJREFUeNpi/P//PwMlgImBQkAbA/r6+v4fO3asnmwDPn78yLBz586GBQsW7L9+/Tpeg1jwSd6/f9/hyZMnDoaGhg7e3t6ORLvg379/cPzz50+GEydOOPT39/8H0vVkB+K7d+8Ytm3b1nDw4MF6gl7AljYEBQUZLC0tG6ysrBqJDgMQYGVlZTAwMDjg7+/vSHQgwlygoKBwwNTU9ADQgEaSYoGHh4fB3Ny8wcnJqZGQCxmHaV4gBQAEGABldUvSNl+JvwAAAABJRU5ErkJggg%3D%3D") no-repeat;
}
h1 span.down {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALBJREFUeNpi/P//PwMlgImBQjDwBrCgC3R1df3/+vUrTg0CAgIMhYWFjDhdYGZm1oDPRisrqwa8XnBwcGiUkpI68O/fPwZ0rKysfMDc3LyRYBhYWFgcYGZmRhFjY2NjMDY2PkBUIOrr6zfq6uoeAKURGDYyMjqgra3dSHQsBAcHO/Ly8oLZwsLCDN7e3o4kRyPQKw2MjIwMlpaWuAMW2ZnY8J49e+rxyTOO5gUGgAADADbLaAF51NehAAAAAElFTkSuQmCC") no-repeat;
}
p {
  font-size: 13px;
}
p.left {
  text-align: left;
}
#master_input {
  position: relative;
}
#master_input input.good {
  background: #effcef !important;
  outline: none!important;
}
#master_input input.bad {
  background: #ffe8ea !important;
  outline: none!important;
}
#password_feedback {
  position: absolute;
  right: 20px;
  top: 35px;
}
input[type=password],
input[type=submit],
input[type=text] {
  width: 198px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #a4a4a4;
  color: #4a4a4a;
  outline: none!important;
  background-color: #f1f1f1;
}
input[type=password].focuson,
input[type=text].focuson {
  background-color: #fff;
}
#genpasswd {
  font-family: monospace;
  letter-spacing: 1px;
  font-weight: bold;
}
#genpasswd_text {
  position: absolute;
  bottom: 56px;
  left: 10px;
  width: 198px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #a4a4a4;
  color: #4a4a4a;
  outline: none!important;
  background-color: #f1f1f1;
  font-family: monospace;
  letter-spacing: 1px;
  font-weight: bold;
}
#genpasswd_text i {
  font-style: normal;
  color: #d898e7;
}
#genpasswd_text i::selection {
  background: #f1f1f1;
}
#genpasswd_text i::-moz-selection {
  background: #f1f1f1;
}
#genpasswd_text i::-webkit-selection {
  background: #f1f1f1;
}
#genpasswd_text::selection {
  background: #f1f1f1;
}
#genpasswd_text::-moz-selection {
  background: #f1f1f1;
}
#genpasswd_text::-webkit-selection {
  background: #f1f1f1;
}
#Len {
  width: 30px;
}
#scp_list {
  width: 208px;
  margin: 0 10px;
  border-radius: 3px;
  border: 1px solid #a4a4a4;
  list-style: none;
}
#scp_list li {
  margin: 0 !important;
  padding: 5px!important !important;
  list-style: none !important;
  color: #b846d3 !important;
  cursor: pointer !important;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid #a4a4a4;
}
#scp_list li:first-child {
  border-radius: 3px 3px 0 0;
}
#scp_list li:last-child {
  border-radius: 0 0 3px 3px;
  border-bottom: 0 solid #a4a4a4;
}
#scp_list li.over,
#scp_list li:hover {
  background: rgba(0, 0, 0, 0.15) !important;
}
#scp_list li.active {
  background: rgba(0, 0, 0, 0.15) !important;
  font-weight: bold;
}
#password.good {
  background: #effcef;
}
#password.good {
  background: #ffe8ea;
}
#regen {
  margin: 10px;
  width: 208px;
  font-size: 16px;
  padding: 0 15px;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  text-shadow: none;
  background: #b846d3;
  color: #fff;
  box-shadow: none;
  border: 1px solid #b846d3;
  outline: none;
}
#regen.forbit {
  opacity: 0.2;
}
#regen:hover {
  border: 1px solid #d898e7;
  background: #d898e7;
}
#regen:active,
#regen:focus {
  border: 1px solid #7c2291;
  background: #7c2291;
}
#regen:active:disabled,
#regen:disabled,
#regen:focus:disabled,
#regen:hover:disabled {
  border: 1px solid #a4a4a4;
  background: #a4a4a4;
}
#hint,
#hint2 {
  width: 165px;
  height: 5px;
  margin: 0 10px;
  position: absolute;
  bottom: 96px;
  line-height: 8px;
  left: 20px;
  text-align: center;
  padding: 8px 0;
  text-shadow: none;
  font-size: 11px;
  color: #fff;
  background: #d898e7;
  border-radius: 20px;
  box-shadow: 0 -3px 3px #aaa;
}
#hint div,
#hint2 div {
  position: absolute;
  top: 21px;
  left: 78px;
  height: 0;
  width: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #d898e7 transparent transparent transparent;
}
